body {
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}
.scrollable-section {
  min-height: 1500px;
}

.weather-info {
  display: flex;
  align-items: center;
}

.weather-info img {
  margin-right: 10px;
}

.forecast-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.forecast-item {
  display: inline-block;
  width: 80px;
  margin-right: 10px;
  text-align: center;
}

.advanced-info {
  margin-top: 1rem;
}

.day-forecast {
  margin-bottom: 1rem;
}

/* New CSS */
.forecast-day {
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 1rem;
  margin: 2px;
  text-align: center;
  font-weight: bold;
}

h4 {
  font-weight: bold;
  display: block;
}

.box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
}